<div class="quiz container-fluid">
	<h2>Quiz</h2>
	<div *ngIf="quizData">
		<h5> {{ quizData.questions[quizData.currentQuestion].q }} </h5>
		<ul>
			<li *ngFor="let answer of quizData.questions[quizData.currentQuestion].ans; let i = index">
				<label [for]="i">
					<input type="radio" 
							name="answers" 
							[id]="i" 
							(change)="setAnswer($event)" 
							[checked]="quizData.questions[quizData.currentQuestion].checked[i]"
					> 

					{{ answer }}
				</label>
			</li>
		</ul>
		<button class="btn btn-primary"
			(click)="prevQuestion()" 
			[disabled]="isPrevDisabled()"> 
			Prev 
		</button>
		<button class="btn btn-primary"
			(click)="nextQuestion()"
			[innerHTML]="getNextButtonValue()">  
		</button>
	</div>
</div>